/* Khennous Moad 1SIO-B */
body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}


.intro {
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 15px 20px;
    background-color: #9f1f15;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.intro h2 {
    margin-top: 0;
    color: #fbf7ba;
}

.intro p {
    margin-bottom: 0;
    color: #fbf7ba;
}


.qcm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 25px;
    background-color: #fbf7ba;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.qcm h4 {
    margin-bottom: 10px;
    margin-top: 15px;
    color: #9f1f15;
}


.qcm p {
    margin: 0 0 5px 0;
    font-weight: normal;
}

.question{
    border: 2px solid #9f1f15;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px ;
}

.reponses {
    margin-bottom: 10px;
}


.reponses label {
    display: block;
    margin: 2px 0;
}


.zone-boutons {
    margin-top: 20px;
    text-align: center;
}

.zone-boutons button {
    padding: 6px 14px;
    margin-left: 8px;
    cursor: pointer;
}

#btn-efface{
    background-color: rgb(255, 59, 59);
    color :white;
    border: 1px solid #580000;
    border-radius: 3px;
}

.zone-boutons #btn-efface:hover {
    background-color: #9c0000;
}

#btn-correct{
    background-color: rgb(20, 170, 0);
    color :white;
    border: 1px solid #005f08;
    border-radius: 3px;
}

.zone-boutons #btn-correct:hover {
    background-color: #036e15;
}

#btn-corrige{
    background-color: rgb(3, 73, 226);
    color :white;
    border: 1px solid rgb(5, 23, 63);
    border-radius: 3px;
}

.zone-boutons #btn-corrige:hover {
    background-color: rgb(0, 48, 151);
}
