/* Khennous Moad 1SIO-B */
body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}


.intro {
    max-width: 800px;
    margin: 0 auto 20px auto;
    padding: 15px 20px;
    background-color: #9f1f15;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.intro h2 {
    margin-top: 0;
    color: #fbf7ba;
}

.intro p {
    margin-bottom: 0;
    color: #fbf7ba;
}


.qcm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 25px;
    background-color: #fbf7ba;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.qcm h4 {
    margin-bottom: 10px;
    margin-top: 15px;
    color: #9f1f15;
}


.qcm p {
    margin: 0 0 5px 0;
    font-weight: normal;
}

.question{
    border: 2px solid #9f1f15;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px ;
}

.reponses {
    margin-bottom: 10px;
}


.reponses label {
    display: block;
    margin: 2px 0;
}

input:checked {
    border: none;
    outline: 2px solid rgb(4, 116, 0);
}

.vrai  {
    color: rgb(4, 116, 0) ;
    font-weight: bold;
}

.faux input:disabled {
    border: none;
    outline: 2px solid rgb(139, 1, 1);
}

.faux  {
    color: rgb(148, 0, 0) ;
    font-weight: bold;
}