
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;
    color: #222;
    line-height: 1.6;
    padding: 30px;
}


a[href="../index.html"] {
    display: inline-block;
    margin-bottom: 25px;
    text-decoration: none;
    color: #0077cc;
    font-size: 15px;
    font-weight: bold;
}



.section {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 26px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #444;
    font-size: 20px;
}


p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #444;
}


ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

a {
    color: #0066c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
