/* Khennous Moad*/



.cadre-sql {
    width: 100%;
    height: 400px;
    border: 2px solid #9689c9;
    border-radius: 8px;
    background-color: #f9f9ff;
    margin-top: 15px;
    margin-bottom: 20px;
}


.telechargement a {
    display: inline-block;
    background-color: #5f4d8a;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
}

.telechargement a:hover {
    background-color: #8e7ad1;
}
